<!DOCTYPE html>
<html>
<head>
    <title>NGO Signup</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="form-container">
    <h2>🏢 NGO Signup</h2>
    <p>Register your organization to reserve food</p>

    <form method="post">
        <label>Organization Name</label>
        <input type="text" name="org" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Create Account</button>
    </form>

    <p style="margin-top:15px">
        Already have an account?
        <a href="/login">Login</a>
    </p>
</div>

</body>
</html>
